
<li class="user-item">
    <a class="img-link" href="<%=user_path(user)%>">
        <img src="<%=user.photo%>" alt="user photo">
        <div class="user-info-container">
            <h1 class="user-name"><%=user.name%></h1>
            <h4 class="user-post-num">Number of posts: <%=user.post_counter%></h4>
        </div>
    </a>
</li>