<h1>List of all users</h1>
<div class="users-main-container">
    <ul class="users-list-container">
        <% @users.each do |user| %> 
            <%= render partial: 'users/user', locals: { user: user } %>
        <%end%>
    </ul>
</div>